database.url=JDBC_PLACEHOLDER
database.password=PASSWORD_PLACEHOLDER
database.logoBucketName=BUCKET_NAME_PLACEHOLDER
riot.key=RIOT_API_TOKEN_PLACEHOLDER
riot.useStubs=BOOLEAN_PLACEHOLDER
riot.providerId=PROVIDER_ID_PLACEHOLDER
ROOT_LOG_LEVEL=TRACE
NETTY_LOG_LEVEL=INFO
KTOR_LOG_LEVEL=TRACE
JOOQ_LOG_LEVEL=INFO
HIKARI_LOG_LEVEL=INFO
