database.url=JDBC_PLACEHOLDER
database.password=PASSWORD_PLACEHOLDER
riot.key=RIOT_API_TOKEN_PLACEHOLDER
riot.useStubs=BOOLEAN_PLACEHOLDER
riot.providerId=PROVIDER_ID_PLACEHOLDER
cookie.expiration=COOKIE_EXPIRATION_IN_SECONDS
cookie.secure=HTTPS_ONLY_BOOLEAN
cors.url=ALLOW_HOST_VALUE
cors.scheme=ALLOW_HOST_SCHEME
ui.packagePath=PATH_TO_FRONTEND_PACKAGE
logging.cid=CORRELATION_ID_KEY
ROOT_LOG_LEVEL=TRACE
NETTY_LOG_LEVEL=INFO
KTOR_LOG_LEVEL=TRACE
JOOQ_LOG_LEVEL=INFO
HIKARI_LOG_LEVEL=INFO
